@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

body {
  padding: 20px;
}

.table-buttons {
  display: flex;
  justify-content: space-around;
}

.header-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(66, 8, 68);
}

.todo-header {
  margin-right: auto; 
  margin-left: 20px;
  margin-bottom: auto; 
  margin-top: auto; 
  color: #f5f1f1;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: auto; 
  margin-right: 20px;
}

.form-label {
  color: #f3f0f0;
  font-weight: bold;
}

.custom-input {
  border: 1px solid; 
}






